// $siteMaxWidth: 62.5em; // 1000px
$siteMaxWidth: 60.625em; // 970px

// Gray
$darkGray: #333;
$mediumGray: #666;
$lightGray: #999;
$superLightGray: #efefef;

// fonts
$siteFontStack: 'Open Sans', Helvetica, Arial, sans-serif;
$siteCondensedFontStack: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
$siteHeaderFontStack: 'Oswald', Helvetica, Arial, sans-serif;

$siteAccentColor: #f2ad41;

$youtubeColor: #e12a21;
$facebookColor: #3f59a4;